<div class="password-main text-center">
    <h2 class="h1">{{ shop.name }}</h2>
    <p>Opening Soon</p>
    {% form 'storefront_password' %}
      {{ form.errors | default_errors }}
      <div class="password-field field">
        <input
          type="password"
          name="password"
          id="Password"
          class="field__input"
          autocomplete="current-password"
          placeholder="Enter password"
        >
        <button name="commit" class="button">
          Enter
        </button>
      </div>
    {% endform %}
</div>

<style>
    .password-main {
        padding: 50px;
        max-width: 600px;
        margin: 0 auto;
    }
</style>

{% schema %}
{
  "name": "Password Page",
  "settings": []
}
{% endschema %}
