<div class="template-404 page-width page-margin center">
  <p>
    404
  </p>
  <h1 class="title">
    Page not found
  </h1>
  <a href="{{ routes.all_products_collection_url }}" class="button">
    Continue shopping
  </a>
</div>

<style>
  .template-404 .title + * {
    margin-top: 1rem;
  }
  
  .page-margin {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
</style>

{% schema %}
{
  "name": "404 Page",
  "settings": []
}
{% endschema %}
